<div class="container-fluid" style="position: absolute; width: 100%; bottom: 0px">
    <div id="google_translate_element" style="display: inline">Translation</div>
    <p class="text-center text-muted">&copy; All Rights Reserved 2023 Globex Logistics Sdn. Bhd</p>
</div>