<div class="container-fluid" style="width: 100%; bottom: 0px; height:100px">
    <div id="google_translate_element" style="display: inline">Translation</div>
    <p class="text-center text-muted">&copy; All Rights Reserved 2023 Globex Logistics Sdn. Bhd</p>
</div>


<script>
    function googleTranslateElementInit() {
            new google.translate.TranslateElement({ includedLanguages: 'en,es,fr,zh-TW', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
        }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>