
<html lang="en-US">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

<title>Login</title>

<head>
  <%- include('partials/dashboard'); %>
</head>

<div class = "container-fluid">
    <div class="row align-items-start">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <img src="images/catbox.jpg" alt="image" style="width:500px; height: 500px">
      </div>
      <div class="container col-md-4">
        <br>
        <h2>HOME</h2>
        
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

<footer>
  
    <%- include('partials/footer'); %>
</footer>


<script>
    function googleTranslateElementInit() {
            new google.translate.TranslateElement({ includedLanguages: 'en,es,fr,zh-TW', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
        }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</html>