<title>Register</title>

<head>
  <%- include('partials/dashboard'); %>
</head>

<div class="container-fluid">
<h1>Create an account</h1>
<form action="/register" method="POST"></form>
  <table>
    <tr>
      <td><label htmlFor="name">Name </label></td>
      <td><input type="text" id="name" name="name" /></td>
    </tr>
    <tr>
      <td><label htmlFor="email">Username/Email </label></td>
      <td><input type="text" id="email" name="email" /></td>
    </tr>
    <tr>
      <td><label htmlFor="password">Password </label></td>
      <td><input type="password" id="password" name="password" /></td>
    </tr>
    <tr>
      <td><label htmlFor="priv">Privilege </label></td>
      <td>
        <select name="priv">
          <option value="customer">Customer</option>
          <option value="execuser">Exec User</option>
          <option value="admin">Admin</option>
        </select>
      </td>
    </tr>
  </table>

  <button type="submit">Register</button>

</form>
</div>
<footer>
  <%- include('partials/footer'); %>
</footer>